.OH {
    background-color: lightblue;
}
.S {
    background-color: lightgreen;
}
.M {
    background-color: lightyellow;
}
.OPP {
    background-color: lightcoral;
}
.L {
    background-color:burlywood;
}
.NONE {
    background-color: red;
}
.DS {
    background-color: bisque;
}
.SS {
    background-color: lightpink;
}