.OH {
    background-color: #4858E7;
}
.S {
    background-color: #35D086;
}
.M {
    background-color: #EFE56A;
}
.OPP {
    background-color: #FF2D5F;
}
.L {
    background-color:#7C00DD;
}
.NONE {
    background-color: brown;
}
/* TODO: allow for 'other' non specific position */
.OTHER {
    background-color: #FF9A3E;
}
.DS {
    background-color: #FFC2F5;
}
.SS {
    background-color: #67D1FF;
}