.Player {
    border-radius: 3px;
    align-items: center ;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 92px;
    
    .PlayerName {
        margin-bottom: 2px;
        text-overflow: ellipsis;
    }
    .PlayerType {
        margin-top: 2px;
    }

}

